* {
    margin: 0;
    padding: 0;
}

.params {
    margin-bottom: 1.5rem;
}

.params, .app, .radical {
    display: flex;
    flex-wrap: wrap;
}

.params {
    justify-content: space-between;
}

.app {
    min-height: 100vh;
}

.app > * {
    flex: 1 1 50%;
    min-width: 800px;
    min-height: 1rem;
}

.functional_part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calc {
    flex: 1 1 1px;
}

#radical_texbox {
    flex-grow: 1;
}

.lang_creator * {
    width: 100%;
    display: block;
}